*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
    overflow: hidden;
}
.gameContainer{
background-image: url(back.jpg);
background-repeat: no-repeat;
background-size: 100vw 100vh;
width:100% ;
height: 100vh;
}

.dino{
    background-image:url(Gokussj3uc4.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 250px;
    position: absolute;
   bottom: 0;
    left: 10%;
    
}

.obstacle{
  background-image: url(mboo.png);
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 80%;
}

.animateDino{
    animation:dino 0.6s linear;
}
@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }

}

.obstacleAni{
    animation: obstacleAni 4s linear infinite;
}
@keyframes obstacleAni{
    0%{
        left:100vw;
    }
    100%{
        left: -10vw;
    }

}

.gameOver{
    visibility: hidden;
    position: absolute;
    left: 25%;
    font-size: 150px  ;
    top: 30%;
    color: rgb(11, 9, 5);
    
    font-style:italic;
    font-weight: bold;
    flex-direction: row-reverse;
}

#scoreCont{
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 40px;
    font-style: bold;
    color: rgb(244, 19, 19);
   
}

.x{
    background-image: url(dragong.png);
    position: absolute;
    height: 150px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 38%;
    top: 3%;

}
.z{
    background-image: url(face.png);
    position: absolute;
    height: 100px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 1%;
    top: 2%;
}
  

